<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">

<body>
  <div class="container">
      <h3 class="text-center" style="margin-bottom: 20px;">
        PRÉSTAMO DE LIBROS
      </h3>
    <div id="chart_div" style="width: 100%; margin-bottom: 30px;" class="text-center"></div>
    <div id="chart_div_2" style="width: 100%; margin-bottom: 30px;" class="text-center"></div>
    <div id="chart_div_3" style="width: 100%; margin-bottom: 30px;" class="text-center"></div>
  </div>
 
 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script th:src="@{/js/dashboard.js}"></script>  

</body>

</html>